.header{ 
    width: 250px
    height: 100px
    background-color:red
}


.left{
    width: 200px;
    height;100px;
    background-color: green;
    float:left;
}

.right{
    width: 250px;
    height;100px;
    background-color: blue;
    float:left;
}

.footer{
    width: 250px;
    height;100px;
    background-color: yellow;
}